.pxcookie-spinner {
  display: flex;
  flex-wrap: nowrap;
}

.pxcookie-spinner input[type="number"] {
  height: 40px;
  border: 1px #333 solid;
  width: 80px;
  padding: 4px 16px;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.pxcookie-spinner button {
  width: 40px;
  height: 40px;
  border: none;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 0;
}
